  <script>
    <% if logged_in? %>
    window.currentUser =
      <%= render('api/users/session.json.jbuilder', user: current_user).html_safe %>
    <% end %>

    window.killteam_background = "<%= image_url('killteam-background.png') %>"
    window.underworlds_background = "<%= image_url('underworlds-background.png') %>"
    window.texture = "<%= image_url('texture.png') %>"
    window.carcosa_logo = "<%= image_url('carcosa-logo.png') %>"
    window.killteam_logo = "<%= image_url('killteam-logo.png') %>"
    window.underworlds_logo = "<%= image_url('underworlds-logo.png') %>"
    window.warhammer40k_logo = "<%= image_url('warhammer40k-logo.png') %>"
    window.close = "<%= image_url('close.png') %>"
    window.add = "<%= image_url('add.png') %>"
    window.edit = "<%= image_url('edit.png') %>"
    window.edit_dark = "<%= image_url('edit-dark.png') %>"
    window.account = "<%= image_url('account.png') %>"
    window.orders_icon = "<%= image_url('orders-icon.png') %>"

  </script>

<main id='root'>
  Carcosa Kill Team Ladder. Crush the Xeno.
</main>
